manifest {
    mainScript = 'kallisto.nf'
    description = 'This is a pipeline for comparison between many RNA seq differential analysis tools'
    author = 'CBSB members'
}

params { 
  output_kallisto = "results/kallisto_pipeline"
} 

process {
    publishDir = [path: params.output_kallisto, mode: 'symlink', overwrite: 'true']
} 

executor {
    name = 'local'
    cpus = 2 
    memory = '32 GB'
}

trace {
    enabled = true
    file = 'execution_trace.txt'
    fields = 'task_id, status, exit, cpus, attempt, realtime, %cpu, %mem, rss, vmem, name'
}

timeline {
    enabled = true
    file = 'execution_timeline.html'
}

report {
    enabled = true
    file = 'execution_report.html'
}
