manifest {
    mainScript = 'kallisto.nf'
    description = 'This is a pipeline for comparison between many RNA seq differential analysis tools'
    author = 'CBSB members'
}


params.project_dir      = "/home/aeahmed/rna_assement/"

params.reftranscriptome = "${params.project_dir}/refernce/transcriptome/Homo_sapiens.GRCh38.cdna.all.fa"
params.reads_type       = "raw"
//params.reads          = "/home/CBSB_UofK.RNA_seq_assesment/sample5_73/trim_reads_73/*_{forward,reverse}_paired.fq.gz"
params.reads            = "/home/aeahmed/rna_assement/reads/*{R1,R2}.fastq.gz"

params.metadata         = "${params.project_dir}/reads/README.txt"
params.pseudo           = "${params.project_dir}/results/pseudo_align/${params.reads_type}"
params.diff             = "${params.project_dir}/results/diff/${params.reads_type}"

executor {
    name = 'local'
    cpus = 6 
    memory = '32 GB'
}

trace {
    enabled = true
    file = 'execution_trace.txt'
    fields = 'task_id, status, exit, cpus, attempt, realtime, %cpu, %mem, rss, vmem, name'
}

timeline {
    enabled = true
    file = 'execution_timeline.html'
}

report {
    enabled = true
    file = 'execution_report.html'
}





